.size {
  padding: 5%;
  height: 50px;
  width: 150px;
}
.imagebox {
  width: 200px;
  padding: 10%;
  border: 1px solid gray;
}
.add-button {
  padding: 5%;
  width: 150px;
  height: 50px;
}
.itemframe {
  width: 200px;
}
